<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <!-- <script src="js/form.js"></script> -->
    <title><%= title %></title>
  </head>
  <body>
    <!-- login page -->
    <section id="login">
      <div class="container">
        <div class="img-container">
          <img src="img/cinema.png" alt="cinema logo" />
        </div>
        <div class="form-container">
          <form action="" method="post">
            <h1 class="form-title">Login</h1>
            <div class="form-body">
              <label for="email">Email</label>
              <input
                type="text"
                class="form-input"
                name="email"
                id="email"
                placeholder="enter your email"
                required
              />
              <p id="error-messege-email" style="display: none"></p>
              <label for="password">Password</label>
              <input
                type="text"
                name="password"
                id="password"
                class="form-input"
                placeholder="enter you password"
                required
              />
              <p id="error-messege-password" style="display: none"></p>
              <button type="submit" class="form-button">Login</button>
            </div>
            <div class="oauth-container">
              <i style="text-align: center; display: block"
                ><span><a href="">Register</a></span> or Login with</i
              >
              <img src="img/google_300221.png" alt="gogle image" />
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
